In [44]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer, LabelEncoder

In [45]:
data = pd.read_csv('Demand_txn_updated.csv')

In [46]:
data.head(15)

,City,Mapped_Sales_Type,Mapped_Item_Code,Transaction_Date,Quantity_Sold,Median_Price,Average_Tax_Percent,Effective_Price,Percent_Quantity_With_Discount,Avg_Discount_Percent_On_Discounted_Items,...,Day,Car_sales,F_and_B_Inflation,F_and_B_Inflation_Adjusted_Effective_Price,F_and_B_Inflation_Adjusted_Median_Price,First_Week_Of_The_Month_Dummy,Last_Week_Of_The_Month_Dummy,Day_Of_The_Week_Seasonality,Month_Of_The_Year_Seasonality,Two_Wheeler_sales
0,Hyderabad,Take Away,9978,7/31/2018,167,187.0,0.05,163.700000,NaN,NaN,...,Tue,7559.28,143.7,0.832985,0.793319,0,1,0.86,0.91,37307.52
1,Hyderabad,Take Away,4064,7/31/2018,368,602.0,0.05,584.329105,0.027237,1.050000,...,Tue,7559.28,143.7,3.760119,3.681280,0,1,0.83,0.91,37307.52
2,Hyderabad,Main Hall,965,7/31/2018,694,263.0,0.05,244.835163,NaN,NaN,...,Tue,7559.28,143.7,1.397600,1.322199,0,1,1.08,1.08,37307.52
3,Hyderabad,Express,9978,7/31/2018,140,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.78,0.08,37307.52
4,Hyderabad,Express,1045,7/31/2018,139,392.0,0.05,378.960000,NaN,NaN,...,Tue,7559.28,143.7,2.330967,2.219903,0,1,0.73,0.08,37307.52
5,Hyderabad,Delivery,4056,7/31/2018,617,322.0,0.05,305.354585,0.003953,0.105020,...,Tue,7559.28,143.7,1.818751,1.732777,0,1,0.82,1.06,37307.52
6,Hyderabad,Take Away,4065,7/31/2018,217,652.0,0.05,651.958113,NaN,NaN,...,Tue,7559.28,143.7,4.230745,4.029228,0,1,0.86,0.91,37307.52
7,Hyderabad,Express,4058,7/31/2018,115,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.70,0.08,37307.52
8,Hyderabad,Express,4057,7/31/2018,113,312.0,0.05,294.960000,NaN,NaN,...,Tue,7559.28,143.7,1.746416,1.663187,0,1,0.72,0.08,37307.52
9,Hyderabad,Express,4056,7/31/2018,120,392.0,0.05,378.955556,NaN,NaN,...,Tue,7559.28,143.7,2.330936,2.219903,0,1,0.84,0.08,37307.52
10,Hyderabad,Delivery,4061,7/31/2018,144,942.0,0.05,942.631515,0.151515,0.105006,...,Tue,7559.28,143.7,6.253525,6.047321,0,1,0.75,1.06,37307.52
11,Hyderabad,Express,4055,7/31/2018,122,362.0,0.05,347.458182,NaN,NaN,...,Tue,7559.28,143.7,2.111748,2.011134,0,1,0.71,0.08,37307.52
12,Hyderabad,Take Away,4061,7/31/2018,233,802.0,0.05,809.456066,NaN,NaN,...,Tue,7559.28,143.7,5.326765,5.073069,0,1,0.82,0.91,37307.52
13,Hyderabad,Dine-in,9978,7/31/2018,118,263.0,0.05,243.500000,NaN,NaN,...,Tue,7559.28,143.7,1.388309,1.322199,0,1,0.85,1.09,37307.52
14,Hyderabad,Dine-in,979,7/31/2018,164,1222.0,0.05,1250.460000,NaN,NaN,...,Tue,7559.28,143.7,8.395685,7.995825,0,1,0.86,1.09,37307.52

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30231 entries, 0 to 30230
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   City                                        30231 non-null  object
 1   Mapped_Sales_Type                           30231 non-null  object
 2   Mapped_Item_Code                            30231 non-null  int64
 3   Transaction_Date                            30231 non-null  object
 4   Quantity_Sold                               30231 non-null  int64
 5   Median_Price                                30231 non-null  float64
 6   Average_Tax_Percent                         30231 non-null  float64
 7   Effective_Price                             30229 non-null  float64
 8   Percent_Quantity_With_Discount              12209 non-null  float64
 9   Avg_Discount_Percent_On_Discounted_Items    12202 non-null  float64
 10  Year                                        30231 non-null  int64
 11  Month                                       30231 non-null  int64
 12  Day                                         30231 non-null  object
 13  Car_sales                                   30231 non-null  float64
 14  F_and_B_Inflation                           30231 non-null  float64
 15  F_and_B_Inflation_Adjusted_Effective_Price  30229 non-null  float64
 16  F_and_B_Inflation_Adjusted_Median_Price     30231 non-null  float64
 17  First_Week_Of_The_Month_Dummy               30231 non-null  int64
 18  Last_Week_Of_The_Month_Dummy                30231 non-null  int64
 19  Day_Of_The_Week_Seasonality                 30231 non-null  float64
 20  Month_Of_The_Year_Seasonality               30142 non-null  float64
 21  Two_Wheeler_sales                           30231 non-null  float64
dtypes: float64(12), int64(6), object(4)
memory usage: 5.1+ MB

In [48]:
data['Transaction_Date'] = pd.to_datetime(data['Transaction_Date'])

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30231 entries, 0 to 30230
Data columns (total 22 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   City                                        30231 non-null  object
 1   Mapped_Sales_Type                           30231 non-null  object
 2   Mapped_Item_Code                            30231 non-null  int64
 3   Transaction_Date                            30231 non-null  datetime64[ns]
 4   Quantity_Sold                               30231 non-null  int64
 5   Median_Price                                30231 non-null  float64
 6   Average_Tax_Percent                         30231 non-null  float64
 7   Effective_Price                             30229 non-null  float64
 8   Percent_Quantity_With_Discount              12209 non-null  float64
 9   Avg_Discount_Percent_On_Discounted_Items    12202 non-null  float64
 10  Year                                        30231 non-null  int64
 11  Month                                       30231 non-null  int64
 12  Day                                         30231 non-null  object
 13  Car_sales                                   30231 non-null  float64
 14  F_and_B_Inflation                           30231 non-null  float64
 15  F_and_B_Inflation_Adjusted_Effective_Price  30229 non-null  float64
 16  F_and_B_Inflation_Adjusted_Median_Price     30231 non-null  float64
 17  First_Week_Of_The_Month_Dummy               30231 non-null  int64
 18  Last_Week_Of_The_Month_Dummy                30231 non-null  int64
 19  Day_Of_The_Week_Seasonality                 30231 non-null  float64
 20  Month_Of_The_Year_Seasonality               30142 non-null  float64
 21  Two_Wheeler_sales                           30231 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(6), object(3)
memory usage: 5.1+ MB

In [50]:
data_subset = data[data['Transaction_Date'] > '2016-08-01']

In [51]:
print(data_subset)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30187     Mumbai         Take Away              4059       2016-08-02
30188     Mumbai         Main Hall               966       2016-08-02
30189     Mumbai         Take Away              4065       2016-08-02
30190     Mumbai          Delivery              4057       2016-08-02
30191     Mumbai         Take Away              4061       2016-08-02

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167        187.00                 0.05       163.700000
1                368        602.00                 0.05       584.329105
2                694        263.00                 0.05       244.835163
3                140        263.00                 0.05       243.500000
4                139        392.00                 0.05       378.960000
...              ...           ...                  ...              ...
30187            519        300.00                 0.15       303.790980
30188            369        238.85                 0.21       244.207519
30189            234        510.00                 0.15       544.369268
30190            145        227.00                 0.14       220.330000
30191            216        658.00                 0.15       713.827429

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30187                        0.004902
30188                             NaN
30189                             NaN
30190                             NaN
30191                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30187                                  0.114493  ...  Tue    8033.92
30188                                       NaN  ...  Tue    8033.92
30189                                       NaN  ...  Tue    8033.92
30190                                       NaN  ...  Tue    8033.92
30191                                       NaN  ...  Tue    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30187             140.1                                    1.854325
30188             140.1                                    1.429033
30189             140.1                                    3.571515
30190             140.1                                    1.258601
30191             140.1                                    4.781067

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30187                                 1.620271                              1
30188                                 1.183797                              1
30189                                 3.119201                              1
30190                                 1.099215                              1
30191                                 4.175589                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30187                             0                         0.81
30188                             0                         1.10
30189                             0                         0.86
30190                             0                         0.74
30191                             0                         0.82

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30187                           0.99           27870.40
30188                           0.89           27870.40
30189                           0.99           27870.40
30190                           0.89           27870.40
30191                           0.99           27870.40

[30192 rows x 22 columns]

In [52]:
unique_values = data['Mapped_Sales_Type'].unique()

In [53]:
print(unique_values)

['Take Away' 'Main Hall' 'Express' 'Delivery' 'Dine-in' 'Bakery']

In [54]:
data_subset = data[data['Avg_Discount_Percent_On_Discounted_Items'] < 1.0]

In [55]:
sanity_check = data_subset[data_subset['Avg_Discount_Percent_On_Discounted_Items'] >= 1.0]

In [56]:
print("Subettted DataFrame")

Subettted DataFrame

In [57]:
print(data_subset)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
5      Hyderabad          Delivery              4056       2018-07-31
10     Hyderabad          Delivery              4061       2018-07-31
20     Hyderabad           Dine-in               966       2018-07-31
24     Hyderabad           Dine-in               965       2018-07-31
26     Hyderabad          Delivery              4068       2018-07-31
...          ...               ...               ...              ...
30198     Mumbai         Take Away              4055       2016-08-01
30201     Mumbai           Dine-in               978       2016-08-01
30212     Mumbai           Dine-in               970       2016-08-01
30213     Mumbai           Dine-in               965       2016-08-01
30226     Mumbai         Take Away              4056       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
5                617         322.0                 0.05       305.354585
10               144         942.0                 0.05       942.631515
20              1250         392.0                 0.05       378.840053
24              1934         362.0                 0.05       347.258327
26               148         622.0                 0.05       618.898649
...              ...           ...                  ...              ...
30198           1290         230.0                 0.15       222.456760
30201            213         989.0                 0.21      1135.791961
30212            534         273.0                 0.20       281.371135
30213           1410         317.0                 0.20       333.437775
30226            615         239.0                 0.14       232.033552

       Percent_Quantity_With_Discount  \
5                            0.003953
10                           0.151515
20                           0.003512
24                           0.001646
26                           0.027027
...                               ...
30198                        0.010178
30201                        0.009804
30212                        0.007092
30213                        0.004619
30226                        0.013889

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
5                                      0.105020  ...  Tue    7559.28
10                                     0.105006  ...  Tue    7559.28
20                                     0.105008  ...  Tue    7559.28
24                                     0.420000  ...  Tue    7559.28
26                                     0.105009  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30198                                  0.820589  ...  Mon    8033.92
30201                                  0.120502  ...  Mon    8033.92
30212                                  0.502083  ...  Mon    8033.92
30213                                  0.120492  ...  Mon    8033.92
30226                                  0.883279  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
5                 143.7                                    1.818751
10                143.7                                    6.253525
20                143.7                                    2.330133
24                143.7                                    2.110357
26                143.7                                    4.000686
...                 ...                                         ...
30198             140.1                                    1.273781
30201             140.1                                    7.792948
30212             140.1                                    1.694298
30213             140.1                                    2.065937
30226             140.1                                    1.342138

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
5                                     1.732777                              0
10                                    6.047321                              0
20                                    2.219903                              0
24                                    2.011134                              0
26                                    3.820459                              0
...                                        ...                            ...
30198                                 1.120628                              1
30201                                 6.538187                              1
30212                                 1.427552                              1
30213                                 1.741613                              1
30226                                 1.184868                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
5                                 1                         0.82
10                                1                         0.75
20                                1                         0.92
24                                1                         0.89
26                                1                         0.64
...                             ...                          ...
30198                             0                         0.75
30201                             0                         0.79
30212                             0                         0.83
30213                             0                         0.83
30226                             0                         0.78

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
5                               1.06           37307.52
10                              1.06           37307.52
20                              1.09           37307.52
24                              1.09           37307.52
26                              1.06           37307.52
...                              ...                ...
30198                           0.99           27870.40
30201                           0.94           27870.40
30212                           0.94           27870.40
30213                           0.94           27870.40
30226                           0.99           27870.40

[8902 rows x 22 columns]

In [58]:
print(sanity_check)

Empty DataFrame
Columns: [City, Mapped_Sales_Type, Mapped_Item_Code, Transaction_Date, Quantity_Sold, Median_Price, Average_Tax_Percent, Effective_Price, Percent_Quantity_With_Discount, Avg_Discount_Percent_On_Discounted_Items, Year, Month, Day, Car_sales, F_and_B_Inflation, F_and_B_Inflation_Adjusted_Effective_Price, F_and_B_Inflation_Adjusted_Median_Price, First_Week_Of_The_Month_Dummy, Last_Week_Of_The_Month_Dummy, Day_Of_The_Week_Seasonality, Month_Of_The_Year_Seasonality, Two_Wheeler_sales]
Index: []

[0 rows x 22 columns]

In [59]:
grouped_data = data.groupby(['City', 'Mapped_Sales_Type', 'Mapped_Item_Code', 'Transaction_Date']).agg({'Quantity_Sold': 'sum', 'Median_Price': 'median', 'Effective_Price': 'median'})

In [60]:
print(grouped_data)

                                                             Quantity_Sold  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05                  110
                          9978             2018-01-22                  105
        Delivery          4055             2017-08-04                  377
                                           2017-08-05                  377
                                           2017-08-06                  638
...                                                                    ...
Mumbai  Take Away         4068             2017-01-09                  200
                                           2017-01-10                  199
                                           2017-01-11                  239
                                           2017-01-12                  233
                                           2017-01-13                  273

                                                             Median_Price  \
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05               223.0
                          9978             2018-01-22               178.0
        Delivery          4055             2017-08-04               260.0
                                           2017-08-05               260.0
                                           2017-08-06               260.0
...                                                                   ...
Mumbai  Take Away         4068             2017-01-09               405.0
                                           2017-01-10               405.0
                                           2017-01-11               405.0
                                           2017-01-12               405.0
                                           2017-01-13               405.0

                                                             Effective_Price
City    Mapped_Sales_Type Mapped_Item_Code Transaction_Date
Chennai Bakery            4057             2017-08-05             221.000000
                          9978             2018-01-22             154.250000
        Delivery          4055             2017-08-04             264.113759
                                           2017-08-05             264.138571
                                           2017-08-06             264.223814
...                                                                      ...
Mumbai  Take Away         4068             2017-01-09             424.140000
                                           2017-01-10             424.140000
                                           2017-01-11             424.140000
                                           2017-01-12             424.140000
                                           2017-01-13             423.201358

[30231 rows x 3 columns]

In [61]:
filtered_data = data[data['Effective_Price'].notnull()].tail(5)

In [62]:
print(filtered_data)

         City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
30226  Mumbai         Take Away              4056       2016-08-01
30227  Mumbai         Take Away              4058       2016-08-01
30228  Mumbai           Dine-in               964       2016-08-01
30229  Mumbai         Take Away              4066       2016-08-01
30230  Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
30226                           0.99            27870.4
30227                           0.99            27870.4
30228                           0.94            27870.4
30229                           0.99            27870.4
30230                           0.89            27870.4

[5 rows x 22 columns]

In [63]:
filtered_data = data.loc[(data['City'] == 'Chennai') & (data['Mapped_Sales_Type'] == 'Delivery')].head(5)

In [64]:
print(filtered_data)

         City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
8379  Chennai          Delivery              4055       2018-02-05
8384  Chennai          Delivery              4068       2018-02-05
8387  Chennai          Delivery              4064       2018-02-05
8388  Chennai          Delivery              4058       2018-02-05
8392  Chennai          Delivery              4061       2018-02-05

      Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
8379            544        281.10                 0.05       262.502194
8384            129        566.43                 0.05       562.110000
8387            186        619.34                 0.05       617.659733
8388            287        259.19                 0.05       239.381307
8392            128        850.62                 0.05       855.697647

      Percent_Quantity_With_Discount  \
8379                             NaN
8384                             NaN
8387                             NaN
8388                        0.005682
8392                        0.058824

      Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
8379                                       NaN  ...  Mon    6660.16
8384                                       NaN  ...  Mon    6660.16
8387                                       NaN  ...  Mon    6660.16
8388                                     0.105  ...  Mon    6660.16
8392                                     0.105  ...  Mon    6660.16

     F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
8379             139.9                                    1.561846
8384             139.9                                    3.703431
8387             139.9                                    4.100498
8388             139.9                                    1.396578
8392             139.9                                    5.801985

      F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
8379                                 1.487491                              1
8384                                 3.527019                              1
8387                                 3.905218                              1
8388                                 1.330879                              1
8392                                 5.558399                              1

      Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
8379                             0                         0.71
8384                             0                         0.65
8387                             0                         0.61
8388                             0                         0.71
8392                             0                         0.61

      Month_Of_The_Year_Seasonality  Two_Wheeler_sales
8379                           1.13           30726.72
8384                           1.13           30726.72
8387                           1.13           30726.72
8388                           1.13           30726.72
8392                           1.13           30726.72

[5 rows x 22 columns]

In [65]:
filtered_data = data[data['Day'].isin(['Mon', 'Tue', 'Wed'])]

In [66]:
print(filtered_data)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[12996 rows x 22 columns]

In [67]:
filtered_data = data.loc[data['Percent_Quantity_With_Discount'] != 0.0]

In [68]:
print(filtered_data)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Day  Car_sales  \
0                                           NaN  ...  Tue    7559.28
1                                      1.050000  ...  Tue    7559.28
2                                           NaN  ...  Tue    7559.28
3                                           NaN  ...  Tue    7559.28
4                                           NaN  ...  Tue    7559.28
...                                         ...  ...  ...        ...
30226                                  0.883279  ...  Mon    8033.92
30227                                  1.144999  ...  Mon    8033.92
30228                                       NaN  ...  Mon    8033.92
30229                                       NaN  ...  Mon    8033.92
30230                                       NaN  ...  Mon    8033.92

      F_and_B_Inflation  F_and_B_Inflation_Adjusted_Effective_Price  \
0                 143.7                                    0.832985
1                 143.7                                    3.760119
2                 143.7                                    1.397600
3                 143.7                                    1.388309
4                 143.7                                    2.330967
...                 ...                                         ...
30226             140.1                                    1.342138
30227             140.1                                    1.131876
30228             140.1                                    7.279483
30229             140.1                                    3.497930
30230             140.1                                    5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales
0                               0.91           37307.52
1                               0.91           37307.52
2                               1.08           37307.52
3                               0.08           37307.52
4                               0.08           37307.52
...                              ...                ...
30226                           0.99           27870.40
30227                           0.99           27870.40
30228                           0.94           27870.40
30229                           0.99           27870.40
30230                           0.89           27870.40

[30224 rows x 22 columns]

In [69]:
def get_range(x):
    if x['Effective_Price'] > 500:
        return 1
    else:
        return 0.5

In [70]:
data['Range'] = data.apply(get_range, axis=1)

In [71]:
print(data)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                                 NaN
1                            0.027237
2                                 NaN
3                                 NaN
4                                 NaN
...                               ...
30226                        0.013889
30227                        0.009338
30228                             NaN
30229                             NaN
30230                             NaN

       Avg_Discount_Percent_On_Discounted_Items  ...  Car_sales  \
0                                           NaN  ...    7559.28
1                                      1.050000  ...    7559.28
2                                           NaN  ...    7559.28
3                                           NaN  ...    7559.28
4                                           NaN  ...    7559.28
...                                         ...  ...        ...
30226                                  0.883279  ...    8033.92
30227                                  1.144999  ...    8033.92
30228                                       NaN  ...    8033.92
30229                                       NaN  ...    8033.92
30230                                       NaN  ...    8033.92

       F_and_B_Inflation F_and_B_Inflation_Adjusted_Effective_Price  \
0                  143.7                                   0.832985
1                  143.7                                   3.760119
2                  143.7                                   1.397600
3                  143.7                                   1.388309
4                  143.7                                   2.330967
...                  ...                                        ...
30226              140.1                                   1.342138
30227              140.1                                   1.131876
30228              140.1                                   7.279483
30229              140.1                                   3.497930
30230              140.1                                   5.259172

       F_and_B_Inflation_Adjusted_Median_Price  First_Week_Of_The_Month_Dummy  \
0                                     0.793319                              0
1                                     3.681280                              0
2                                     1.322199                              0
3                                     1.322199                              0
4                                     2.219903                              0
...                                        ...                            ...
30226                                 1.184868                              1
30227                                 0.997859                              1
30228                                 6.138473                              1
30229                                 3.054961                              1
30230                                 4.593148                              1

       Last_Week_Of_The_Month_Dummy  Day_Of_The_Week_Seasonality  \
0                                 1                         0.86
1                                 1                         0.83
2                                 1                         1.08
3                                 1                         0.78
4                                 1                         0.73
...                             ...                          ...
30226                             0                         0.78
30227                             0                         0.78
30228                             0                         0.77
30229                             0                         0.66
30230                             0                         0.61

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales  Range
0                               0.91           37307.52    0.5
1                               0.91           37307.52    1.0
2                               1.08           37307.52    0.5
3                               0.08           37307.52    0.5
4                               0.08           37307.52    0.5
...                              ...                ...    ...
30226                           0.99           27870.40    0.5
30227                           0.99           27870.40    0.5
30228                           0.94           27870.40    1.0
30229                           0.99           27870.40    1.0
30230                           0.89           27870.40    1.0

[30231 rows x 23 columns]

In [72]:
imputer = SimpleImputer(strategy='mean')
data['Percent_Quantity_With_Discount'] = imputer.fit_transform(data[['Percent_Quantity_With_Discount']])

In [73]:
encoder = OneHotEncoder(sparse=False)
mapped_sales_type_encoded = encoder.fit_transform(data[['Mapped_Sales_Type']])
mapped_sales_type_encoded_data = pd.DataFrame(mapped_sales_type_encoded, columns=encoder.get_feature_names(['Mapped_Sales_Type']))
data = pd.concat([data, mapped_sales_type_encoded_data], axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [75]:
binarizer = LabelBinarizer()
day_binarized = binarizer.fit_transform(data['Day'])
data['Day_binarized'] = day_binarized

ValueError: Expected a 1D array, got an array with shape (30231, 7)

In [76]:
label_encoder = LabelEncoder()
data['City_encoded'] = label_encoder.fit_transform(data['City'])

In [77]:
print(data)

            City Mapped_Sales_Type  Mapped_Item_Code Transaction_Date  \
0      Hyderabad         Take Away              9978       2018-07-31
1      Hyderabad         Take Away              4064       2018-07-31
2      Hyderabad         Main Hall               965       2018-07-31
3      Hyderabad           Express              9978       2018-07-31
4      Hyderabad           Express              1045       2018-07-31
...          ...               ...               ...              ...
30226     Mumbai         Take Away              4056       2016-08-01
30227     Mumbai         Take Away              4058       2016-08-01
30228     Mumbai           Dine-in               964       2016-08-01
30229     Mumbai         Take Away              4066       2016-08-01
30230     Mumbai          Delivery              4061       2016-08-01

       Quantity_Sold  Median_Price  Average_Tax_Percent  Effective_Price  \
0                167         187.0                 0.05       163.700000
1                368         602.0                 0.05       584.329105
2                694         263.0                 0.05       244.835163
3                140         263.0                 0.05       243.500000
4                139         392.0                 0.05       378.960000
...              ...           ...                  ...              ...
30226            615         239.0                 0.14       232.033552
30227           1289         212.8                 0.14       202.575840
30228            140         933.0                 0.21      1063.855517
30229            179         501.0                 0.14       534.060000
30230            117         716.5                 0.15       780.810000

       Percent_Quantity_With_Discount  \
0                            0.098011
1                            0.027237
2                            0.098011
3                            0.098011
4                            0.098011
...                               ...
30226                        0.013889
30227                        0.009338
30228                        0.098011
30229                        0.098011
30230                        0.098011

       Avg_Discount_Percent_On_Discounted_Items  ...  \
0                                           NaN  ...
1                                      1.050000  ...
2                                           NaN  ...
3                                           NaN  ...
4                                           NaN  ...
...                                         ...  ...
30226                                  0.883279  ...
30227                                  1.144999  ...
30228                                       NaN  ...
30229                                       NaN  ...
30230                                       NaN  ...

       Month_Of_The_Year_Seasonality  Two_Wheeler_sales Range  \
0                               0.91           37307.52   0.5
1                               0.91           37307.52   1.0
2                               1.08           37307.52   0.5
3                               0.08           37307.52   0.5
4                               0.08           37307.52   0.5
...                              ...                ...   ...
30226                           0.99           27870.40   0.5
30227                           0.99           27870.40   0.5
30228                           0.94           27870.40   1.0
30229                           0.99           27870.40   1.0
30230                           0.89           27870.40   1.0

       Mapped_Sales_Type_Bakery  Mapped_Sales_Type_Delivery  \
0                           0.0                         0.0
1                           0.0                         0.0
2                           0.0                         0.0
3                           0.0                         0.0
4                           0.0                         0.0
...                         ...                         ...
30226                       0.0                         0.0
30227                       0.0                         0.0
30228                       0.0                         0.0
30229                       0.0                         0.0
30230                       0.0                         1.0

       Mapped_Sales_Type_Dine-in  Mapped_Sales_Type_Express  \
0                            0.0                        0.0
1                            0.0                        0.0
2                            0.0                        0.0
3                            0.0                        1.0
4                            0.0                        1.0
...                          ...                        ...
30226                        0.0                        0.0
30227                        0.0                        0.0
30228                        1.0                        0.0
30229                        0.0                        0.0
30230                        0.0                        0.0

       Mapped_Sales_Type_Main Hall  Mapped_Sales_Type_Take Away  City_encoded
0                              0.0                          1.0             1
1                              0.0                          1.0             1
2                              1.0                          0.0             1
3                              0.0                          0.0             1
4                              0.0                          0.0             1
...                            ...                          ...           ...
30226                          0.0                          1.0             3
30227                          0.0                          1.0             3
30228                          0.0                          0.0             3
30229                          0.0                          1.0             3
30230                          0.0                          0.0             3

[30231 rows x 30 columns]